@charset "utf-8";
#title1 {
	text-align: center;
	padding: 1rem 3rem;
	color: #fff;
	border-radius: 100vh;
	background-image: -webkit-gradient(linear, right top, left top, from(#6363ea), to(#0071e3));
	background-image: -webkit-linear-gradient(right, #6363ea 0%, #0071e3 100%);
	background-image: linear-gradient(to left, #6363ea 0%, #0071e3 100%);
  }
