@charset "utf-8";
#title1 {
	text-align: center;
	padding: 1rem 3rem;
	color: #fff;
	border-radius: 100vh;
	background-image: -webkit-gradient(linear, right top, left top, from(#6363ea), to(#0071e3));
	background-image: -webkit-linear-gradient(right, #6363ea 0%, #0071e3 100%);
	background-image: linear-gradient(to left, #6363ea 0%, #0071e3 100%);
  }

input[type="checkbox"],
input[type="radio"] {
	accent-color: rgb(113, 70, 255);
	transform: scale(2.0);
}

.box29 {
    margin: 2em 0;
    background: #dcefff;
}
.box29 .box-title {
    font-size: 1.2em;
    background: #5fb3f5;
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
}
.box29 p {
    padding: 15px 20px;
    margin: 0;
}

.btn_03 {
	display: block;
	background-color: #fff;
  border: double 6px #99acf3;
  color: #8fc9ff;
  border-radius: 10px;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 1em;
}
.btn_03:hover {
	color: #fff;
	background: #27acd9;
}

.numStatus {
  color: #010079;
  text-shadow: 0 0 5px white;
  border-left: solid 7px #010079;
  background: -webkit-repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  background: repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
}
